{% extends 'basic_app/base.html' %}
{% block body_block %}
<style>

  #grad1 {
    height: 300px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, #5433FF, #20BDFF, #a5fecb); /* Standard syntax (must be last) */
  }
  </style>
  <div class="container">
    <div class="jumbotron" id="grad1">
      <h1>Please Login</h1>
        <form method="post" action="{% url 'basic_app:user_login' %}">
          {% csrf_token %}

          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">

          <label for="password"></label>
          <input type="password" name="password">

          <input type="submit" name="" value="Login">

        </form>

    </div>
  </div>
{% endblock %}
